<h1>Cart</h1>
<div class="table-container" *ngIf="hasItems">
    <table mat-table [dataSource]="cartResults">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
    
      <!-- Name Column -->
      <ng-container matColumnDef="Product">
        <th mat-header-cell *matHeaderCellDef> Product </th>
        <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.Price}} </td>
      </ng-container>

      <ng-container matColumnDef="Quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity (lbs.) </th>
        <td mat-cell *matCellDef="let element"> {{element.Quantity}} <button mat-button color="primary"><mat-icon>edit</mat-icon></button> </td>
      </ng-container>

      <ng-container matColumnDef="Remove">
        <th mat-header-cell *matHeaderCellDef> Remove </th>
        <td mat-cell *matCellDef="let element"> <button mat-button color="primary" (click)="removeFromCart(element.PLU)"><mat-icon>remove_shopping_cart</mat-icon></button></td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <button mat-button color="primary" (click)="checkout()">Checkout</button>