<mat-sidenav-container class="sidenav-container mat-app-background" [ngClass]="{'dark-theme-mode':isDarkTheme}">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" [state]="{data: firstname}"><mat-icon>home</mat-icon> Home</a>
      <a mat-list-item routerLink="/search"><mat-icon>search</mat-icon> Search</a>
      <a *ngIf="!loggedIn" mat-list-item routerLink="/signup"><mat-icon>account_circle</mat-icon> Sign Up</a>
      <a *ngIf="!loggedIn" mat-list-item routerLink="/login"><mat-icon>account_circle</mat-icon> Login</a>
      <a *ngIf="isAdmin" mat-list-item routerLink="/admin"><mat-icon>supervised_user_circle</mat-icon> Admin</a>
      <a *ngIf="loggedIn" mat-list-item (click)="logout()"><mat-icon>exit_to_app</mat-icon> Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div *ngIf="loaderService.isLoading | async" class="loader-container">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>DAN Auto Parts</span>
      <span style="flex:auto;"></span>
      <div>
        <button *ngIf="loggedIn" mat-button (click)="toCart()">
          <mat-icon>shopping_cart</mat-icon>
        </button>
      </div>
      <div style="padding-right: 20px;">
      <button mat-button (click)="toSourceCode()">
        <mat-icon>code</mat-icon>
      </button>
      </div>
      <mat-slide-toggle [(ngModel)]="isDarkTheme" labelPosition="before" (change)="storeThemeSelection()">
        <mat-icon>bedtime</mat-icon>
      </mat-slide-toggle>
    </mat-toolbar>

	  <jw-modal id ="SignUp"> 
			<div class = "modal-wrapper" style="text-align: center;">
			<h1>Sign Up</h1>
			<p>First name: <input type="text" [(ngModel)]="firstname" placeholder="first name"/></p>
			<p>Last name: <input type="text" [(ngModel)]="lastname" placeholder="last name"/></p>
			<p>Email: <input type="text" [(ngModel)]="email" placeholder="Email"/></p>
			<p>Password: <input type="password" [(ngModel)]="password" placeholder="password"/></p>
			<p>Confirm Password: <input type="password" [(ngModel)]="confirmPassword" placeholder="confirm password" /></p>
			<button  style="position: absolute; top: 0; right: 0; background-color: white; border: none" (click)="closeModal('SignUp');">X</button>
			<button class="button-21"(click)="signUp();">Sign Up</button>
			</div>
		</jw-modal>

    <router-outlet></router-outlet>
 
  </mat-sidenav-content>
</mat-sidenav-container>
