<div class="grid-container">
  <h1 class="mat-h1">Admin View</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
    <mat-card class="dashboard-card card-image">
        <mat-card-header class="mat-app-background card-title">
          <mat-card-title>
            Admin Users
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
<div class="table-container">
<table mat-table [dataSource]="adminUsers">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->

  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.firstname}} {{element.lastname}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

        </mat-card-content>
        <mat-card-footer style="margin-top: auto">
        <div style="text-align: right; margin-right: 5%;">
          <button mat-fab color="primary" (click)="onGrantAccess()">
          <mat-icon>add_circle</mat-icon>
           </button>
           </div>

        </mat-card-footer>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
    <mat-card class="dashboard-card card-image">
        <mat-card-header class="mat-app-background card-title">
          <mat-card-title>
            Change Price
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="changePriceForm" (ngSubmit)="changePriceSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Product Type</mat-label>
              <mat-select formControlName="productType" (valueChange)="selectPriceTypeChange($event)">
                <mat-option *ngFor="let priceType of changePriceType" [value]="priceType.value">
                  {{priceType.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('meatType')?.hasError('required')">
                Please select a product type
              </mat-error>
            </mat-form-field>
            <mat-form-field *ngIf="changePrice[0] != null" appearance="fill">
              <mat-label>Product</mat-label>
              <mat-select formControlName="product" (valueChange)="selectProductChange($event)">
                <mat-option *ngFor="let priceType of changePrice" [value]="priceType.value">
                  {{priceType.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('meatType')?.hasError('required')">
                Please select a product
              </mat-error>
            </mat-form-field>
            <div  *ngIf="currentPrice != -999">
              <mat-label>Current Price: {{currentPrice}}</mat-label>
              <mat-form-field>
                <mat-label>New Price</mat-label>
                <input type="number" matInput formControlName="price">
              </mat-form-field>
              <button style="margin-left: auto;" mat-raised-button color="primary">Submit</button>
            </div>
            <br>
            </form>
        </mat-card-content>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card class="dashboard-card card-image">
        <mat-card-header class="mat-app-background card-title">
          <mat-card-title>
            Top Sellers
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="grid-container2">
          <div class="grid-table">
            <table mat-table [dataSource]="topSellers">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
            
              <!-- Name Column -->
              <ng-container matColumnDef="PLU">
                <th mat-header-cell *matHeaderCellDef> PLU </th>
                <td mat-cell *matCellDef="let element"> {{element.PLU}} </td>
              </ng-container>

              <ng-container matColumnDef="Product">
                <th mat-header-cell *matHeaderCellDef> Product </th>
                <td mat-cell *matCellDef="let element"> {{element.Item}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="Pounds Sold">
                <th mat-header-cell *matHeaderCellDef> Pounds Sold </th>
                <td mat-cell *matCellDef="let element"> {{element.PoundsSold}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumnsTopSellers; sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsTopSellers;"></tr>
            </table>
          </div>
          <div class="grid-dropdown">
            <form [formGroup]="form" (ngSubmit)="TopSellersSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Product Type</mat-label>
              <mat-select formControlName="product">
                <mat-option *ngFor="let meat of meatType" [value]="meat.value">
                  {{meat.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('meatType')?.hasError('required')">
                Please select a product type
              </mat-error>
            </mat-form-field>
            <br>
            <button style="margin-left: 20%;" mat-raised-button color="primary">Submit</button>
            </form>
          </div>
          </div>
        </mat-card-content>
    </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<jw-modal id="GrantAccess">
     <div class="container">
    <form class="form-class" [formGroup]="grantAccessForm" (submit)="submit()">
      <h1>Grant Admin Access</h1>
      <mat-form-field class="form-field" appearance="outline">
        <mat-label> E-mail
        </mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="grantAccessForm.controls.email.touched && grantAccessForm.controls.email.invalid">
          <span *ngIf="grantAccessForm.controls.email.errors.required">This field is mandatory.</span>
          <span *ngIf="grantAccessForm.controls.email.errors.pattern">This field is invalid.</span>
        </mat-error>
      </mat-form-field>
      <button class="test" mat-raised-button color="primary" type="submit">Submit</button>
    </form>
    </div>
</jw-modal>